* {
   box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  align-items: center;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #444;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-weight: 300;
}

main {
  margin: 0 auto;
  padding: 1rem;
  max-width: 32rem;
  text-align: center;
}

h1 {
  font-weight: 400;
}

.avatar {
  border-radius: 50%;
}

.strike {
  text-decoration: line-through;
}

.icon {
  width: 32px;
  height: 32px;
  border: none;
}

.blend {
  opacity: .75;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dotted;
}

footer {
  display: flex;
  gap: 2ch;
  justify-content: center;
  margin-top: 2rem;
}

footer a {
  border: none;
  filter: grayscale(1);
}

footer a:hover,
footer a:focus {
  transition: filter .4s ease-out;
  filter: grayscale(0);
}

@media (prefers-color-scheme: dark) {
  body {
    color: #e0e0e0;
    background: #121212;
  }
  .avatar {
    filter: brightness(0.9);
  }
  footer a:hover,
  footer a:focus {
    filter: grayscale(0) brightness(0.8);
  }
}