* {
   box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #444;
  background: #fff;
  margin: 0 auto;
  padding: 0 0.5em;
  display: table;
  max-width: 410px;
}

[role="main"] {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

h1 {
  font-weight: 400;
}

.avatar {
  border-radius: 100px;
}

.strike {
  text-decoration: line-through;
}

.icon {
  width: 32px;
  height: 32px;
  border: none;
}

.blend {
  opacity: .75;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dotted;
}

footer a {
  border: none;
  filter: grayscale(1);
}

footer a:hover,
footer a:focus {
  transition: filter .4s ease-out;
  filter: grayscale(0);
}

@media (prefers-color-scheme: dark) {
  body {
    color: #e0e0e0;
    background: #121212;
  }
  .avatar {
    filter: brightness(0.9);
  }
  footer a:hover,
  footer a:focus {
    filter: grayscale(0) brightness(0.8);
  }
}