* {
   box-sizing: border-box;
}
html,
body {
    height: 100%;
}
body {
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
    color: #444;
    margin: 0 auto;
    padding: 0 0.5em;
    display: table;
    max-width: 420px;
}
[role="main"] {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
h1 {
    font-weight: 400;
}
.avatar {
    border-radius: 100px;
}
.strike {
    text-decoration: line-through;
}
.icon {
    width: 24px;
    height: 24px;
    border: none;
}
.blend {
    opacity: .75;
}
a {
   color: inherit;
   text-decoration: none;
   border-bottom: 1px dotted;
}
footer a {
   border: none;
}